.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 0;
  right: 0;
}

.Cart {
  padding: 2rem;
  row-gap: 1rem;
  width: 33.3333vw;
  height: 100vh;
  background: white;
  color: black;
  z-index: 10;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.exit-btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-cl-secondary);
}

.checkout-btn {
  text-align: center;
  width: 100%;
  min-height: 2.5rem;
  border: none;
  background-color: var(--text-cl-alternative);
  color: var(--header-bg);
  font-size: 1.25rem;
}

.checkout-btn:hover {
  background-color: var(--text-cl-secondary);
  color: var(--text-cl-tertiary);
}

.cart-title {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--text-cl-secondary);
}

.shopping-bag-container {
  display: flex;
  justify-content: flex-start;
  height: 75%;
  width: 100%;
  flex-direction: column;
  row-gap: 1rem;
  overflow-y: auto;
  padding: 0.5rem;
}

.cart-item-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  margin: auto;
}

.cart-item-img {
  height: 6rem;
  padding: 1rem;
  margin: auto;
}

.cart-item-img > img {
  width: 100%;
  height: 100%;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  row-gap: 0.5rem;
  background-color: var(--alternative-bg);
  color: var(--text-cl-tertiary);
}

.cart-item-title {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: justify;
}

.cart-item-price {
  font-size: 0.8rem;
}

.cart-item-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
  width: 40%;
}

.cart-item-quantity > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-cl-alternative);
  border: 1px solid var(--text-cl-alternative);
  font-size: 1rem;
  font-weight: 600;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.cart-item-quantity > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--text-cl-alternative);
  color: var(--header-bg);
  font-size: 1rem;
  font-weight: 600;
  width: 2.5rem;
  height: 1.5rem;
}
