.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-title {
  font-size: 2.5rem;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar > ul > * {
  text-decoration: none;
}

.navbar-item {
  position: relative;
  list-style-type: none;
  margin: auto 2rem;
  font-size: 1.25rem;
}

.cart-logo {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 50px;
}

.cart-btn {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.cart-item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50px;
  right: 0;
  bottom: 0;
  transform: translate(15%, 15%);
  background-color: black;
  color: wheat;
}
