.Main {
  max-width: 90%;
  margin: 0px auto;
  background-color: var(--text-cl-primary);
}

.Shop {
  display: flex;
  flex-direction: column;
}

/* ---------- category buttons ----------*/
.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-btn {
  width: 10rem;
  height: 2rem;
  margin: 3rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--alternative-bg);
  color: var(--text-cl-tertiary);
  cursor: pointer;
  transition: all 0.25s ease;
}

.category-btn:hover {
  transform: scale(1.1);
}

.category-btn:active {
  transition: all 0.2s ease;
  transform: scale(1);
}

/* ---------- items ----------*/
.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  max-width: 100%;
}

.shop-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: auto;
  border-radius: 10px;
  border: 2px solid var(--text-cl-primary);
  color: var(--text-cl-primary);
  background-color: var(--item-bg);
}

.item-img-container {
  height: 13rem;
  padding: 3rem;
  margin: 0px auto;
}

.shop-item-img {
  width: 100%;
  height: 100%;
}

.item-detail-container {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem 0.75rem;
  border-top: 1px solid var(--header-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--header-bg);
  color: var(--text-cl-tertiary);
}

.shop-item-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.shop-item-price {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.add-btn {
  height: 2rem;
  width: 100%;
  margin-bottom: 0.75rem;
  background-color: var(--text-cl-alternative);
  color: var(--header-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: var(--text-cl-secondary);
  color: var(--text-cl-tertiary);
}
