:root {
  /* font size */
  font-size: 1vmax;

  /* ----- color ----- */
  /* bg and text */
  --main-bg: #eff5f5;
  --header-bg: #183a1d;
  --alternative-bg: #579bb1;
  --text-cl-primary: #e1eedd;
  --text-cl-secondary: #f0a04b;
  --text-cl-tertiary: #fefbe9;
  --text-cl-alternative: #f2cd5c;
  /*b5d5c5*/
  /* item color */
  --item-bg: white;
  --item-detail-bg: #def5e5;
}

@media (width <= 1024px) {
  :root {
    font-size: 1.3vmax;
  }
}

@media (width <= 768px) {
  :root {
    font-size: 1.6vmax;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
