:root {
  /* font size */
  --font-size: calc(0.625rem + 0.5vw);
  font-size: var(--font-size);

  /* ----- color ----- */
  /* bg and text */
  --main-bg: #eff5f5;
  --header-bg: #e1eedd;
  --alternative-bg: #f0a04b;
  --text-cl-primary: #183a1d;
  --text-cl-secondary: #579bb1;
  --text-cl-tertiary: #fefbe9;

  /* item color */
  --item-bg: white;
  --item-detail-bg: #def5e5;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
